{% extends 'base.html.twig' %}

{% block body %}
    <section class="user-list">
        <h1 class="page-title">Users</h1>
        <div class="centered">
            <a href="{{ path('app_insert') }}" class="btn-detail ">Nieuwe gebruiker toevoegen</a>
        </div>

        <div class="card-container">
            {% for f in users %}
                <div class="user-card">
                    <div class="user-info">
                        <h2>{{ f.firstname }} {{ f.lastname }}</h2><br>
                    </div>
                    <div class="button-group">
                        <a class="btn-detail" href="{{ path('app_detail', {'id': f.id}) }}">Details</a>
                        <a class="btn-detail" href="{{ path('app_transaction', {'id': f.id}) }}">Transactie</a>
                        <a class="btn-detail" href="{{ path('app_user_report', {'id': f.id}) }}">Bekijk financieel rapport</a>
                    </div>




                </div>
            {% else %}
                <p class="no-users">Er zijn nog geen gebruikers gevonden.</p>
            {% endfor %}
        </div>
    </section>


{% endblock %}

